.counter-website {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  height: 30px;
  width: 80px;
  cursor: pointer;
}

p {
  font-size: 4px;
}

.reset-button {
  display: flex;
}

.binding-counters {
  border: solid 3px red;
  display: flex;
  justify-content: center;
}

.master {
  border: solid 4px greenyellow;
}

.counters {
  border: solid 2px blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}

.counter {
  display: flex;
  align-items: center;
}

.new-counter {
  font-size: 8px;
  background-color: aqua;
  border-radius: 5px;
}

.reset {
  height: 20px;
  width: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(84, 97, 122);
}
